.example-card{
    margin: 0 auto;
    margin-top: 10%;
    width: 40%;
    height: 40%;   
}
.example-form{
    display: flex;
}
.mat-form-field{
    padding-left: 135px;
    width: auto;
}
.mat-card-header{
    padding-left: 120px;
}
.mat-card-actions{
    padding-left: 140px;
}